<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/user-profile-style.css">
  <title>User Profile</title>
</head>
<body>
  <div class="header-container">
    <a href="/">Home</a>
    <a href="/form">Update Information</a> 
  </div>
  <div class="page">
    <h2>User Details</h2>

    <% if (userInformation) { %>
      <p>First Name: <%= userInformation.username %></p>
      <p>Last Name: <%= userInformation.usersurname %></p>
      <p>First Line of the Address: <%= userInformation.useraddress1 %></p>
      <p>Second Line of the Address: <%= userInformation.useraddress2 %></p>
      <p>City: <%= userInformation.usercity %></p>
      <p>State: <%= userInformation.userstate %></p>
      <p>Zip: <%= userInformation.userzip %></p>
      <p>Country: <%= userInformation.usercountry %></p>
    <% } else { %>
      <p>No user information found.</p>
    <% } %>
  </div>
</body>
</html>
